<div class="card">
    <div class="card-body">
        <form>
            <div class="class-group">
                <label for="fname"> std Fname</label>
                <input type="text" id="fname" #fname  class="form-control">
            </div>
            <div class="class-group">
                <label for="lname"> std Lname</label>
                <input type="text" id="lname" #lname class="form-control">
            </div>
            <div class="class-group">
                <label for="email"> std Email</label>
                <input type="text" id="email" #email  class="form-control">
            </div>
            <div class="class-group">
                <label for="contact"> std contact</label>
                <input type="text" id="contact" #contact  class="form-control">
            </div>
            <div class="text-right">
                <button class="btn btn-primary my-2" type="button" (click)="onsumite()">sumite</button>
            </div>
        </form>
    </div>
</div>
